[submodule "planck-cl"]
	path = planck-cl
	url = https://github.com/zonca/visualize-planck-cl.git
[submodule "slides/PythonHPCPlanck"]
	path = slides/PythonHPCPlanck
	url = https://github.com/zonca/PythonHPCPlanck.git
