@font-face {
    font-family: 'adelleregular';
    src: url('/theme/css/fonts/adelle/adelle_regular-webfont-webfont.eot');
    src: url('/theme/css/fonts/adelle/adelle_regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/theme/css/fonts/adelle/adelle_regular-webfont-webfont.woff') format('woff'),
         url('/theme/css/fonts/adelle/adelle_regular-webfont-webfont.ttf') format('truetype'),
         url('/theme/css/fonts/adelle/adelle_regular-webfont-webfont.svg#adelleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}