body {
  font-family: "proxima_nova_regular", Helvetica, Arial, sans-serif;
}
a {
  color: #444;
  text-decoration: none;
  border-bottom: #ddd 1px solid;
}
a:hover {
  color: #444;
  border-bottom: #000 1px solid;
}
p {
  margin: 10px auto;
  text-align: justify;
  font-size: 1em;
  line-height: 1.8;
}
.header .navbar {
  height: 22px;
  margin: 0 auto;
  padding: 2px 0 0 0;
  max-width: 160px;
}
.header .navbar a {
  color: #333;
  font-size: 0.95em;
  padding: 2px;
  text-decoration: none;
}
.header .navbar a:hover {
  color: #FFF;
  background: #333;
}
div#content {
  /*width: 100%;*/
  /*height: 100%;*/
}
div.index p.intro {
  max-width: 850px;
  margin: 15px auto;
  padding: 0 10px;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0;
  color: #000;
}
div.index p.intro i {
  color: #666;
}
div.index .list {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 10px;
}
div.index .list p {
  font-size: 2em;
  margin: 15px 0 0 0;
  padding: 0;
}
div.index .list ul {
  padding: 0;
  list-style-type: none;
}
div.index .list ul li {
  padding: 5px 0;
}
div.index .list ul li a {
  display: block;
}
div.index .list ul li h2 {
  font-size: 0.9em;
  display: inline;
  font-weight: normal;
}
div.index .list ul li span {
  text-align: right;
  float: right;
  padding-top: 3px;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}
.post h1 {
  max-width: 800px;
  margin: 20px auto 0px;
  padding: 0 10px;
  text-align: center;
  font-size: 2.55em;
  font-weight: 300;
}
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 10px;
}
.post ul,
.post ol {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 0 0 60px;
  list-style-type: square;
  line-height: 1.4;
}
.post ul li,
.post ol li {
  padding: 3px 0;
}
.post p {
  max-width: 750px;
  margin: 0 auto;
  padding: 6px 10px;
  line-height: 1.8;
}
.post p.yellow,
.post p.update {
  max-width: 700px;
  background-color: #f8eab0;
  border-left: 8px solid #ecd163;
  padding: 7px 20px 7px 20px;
}
.post p.gray,
.post p.note {
  max-width: 750px;
  background: #f5f5f5;
  border-left: 8px solid #ddd;
  padding: 7px 20px 7px 20px;
}
.post p.blue {
  max-width: 700px;
  background: #cae4f0;
  border-left: 8px solid #8ec1da;
  padding: 7px 20px 7px 20px;
}
.post img {
  max-width: 820px;
  #margin: 0 -50px;
}
.post code {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;
  padding: 2px 4px;
  font-size: 14px;
  white-space: nowrap;
  page-break-inside: avoid;
  word-wrap: break-word;
}
.post .highlight {
  max-width: 700px;
  margin: 6px auto;
  padding: 6px 15px 6px 7px;
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
  border-left: 5px solid #307EA9;
}
.post .highlight pre {
  font-size: 15px;
  padding: 0;
  line-height: 16px;
  page-break-inside: avoid;
  word-wrap: break-word;
}
.post .metadata {
  max-width: 750px;
  margin: 10px auto 20px;
  padding: 10px 10px 10px 50px;
  background-color: #f8f8f8;
  border: 1px solid #d2d2d2;
}
.post .metadata ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.post .metadata ul li {
  font-size: 14px;
}
.footer {
  background: #333333;
  color: #fff;
}
.footer .social {
  max-width: 640px;
  margin: 0px auto;
  padding: 15px 20px 0;
}
.footer .social .span3 {
  width: 23.404255319148934%;
  float: left;
}
.footer .social .hn iframe {
  margin: -9px 0 0 -8px;
  border: none;
}
.footer .comments {
  margin: 15px auto 0;
  max-width: 1000px;
  padding: 40px 20px 0;
}
.footer .comments a {
  color: #FFF;
  text-decoration: none;
}
.footer .comments a:hover {
  color: #FFF;
  text-decoration: underline;
}

.post-content {
    max-width:750px;
    margin-left: auto;
    margin-right: auto;
}
